<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="resultMap" type="user">
        <id column="id" property="id"/>
        <result column="loginName" property="loginName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="level" property="level"/>
        <result column="stauts" property="stauts"/>
        <result column="describe" property="describe"/>
        <result column="classid" property="classid"/>
        <result column="endLoginTime" property="endLoginTime"/>
        <association property="levels" javaType="Level">
            <id property="id"  column="lid"/>
            <result property="levelName" column="levelName"/>
        </association>
    </resultMap>

    <sql id="sql">
        select * from user
    </sql>
    <select id="login" parameterType="user" resultType="User">
        <include refid="sql"/> where loginName=#{loginName} and password=#{password}
    </select>

    <select id="getUserList"  resultMap="resultMap" parameterType="hashmap">
        SELECT u.id,u.loginName,u.email,u.gender,s.stautsName,l.levelName,u.endLoginTime,l.id as lid FROM USER u LEFT JOIN `level` l ON  u.level=l.id INNER JOIN stauts s ON u.stauts=s.id
        <!--<where>-->
            <!--<if test="loginName != null and loginName != ''">-->
                <!--and loginName like '%${loginName}%'-->
            <!--</if>-->
        <!--</where>-->
        limit #{pagestart},#{size}
    </select>

    <select id="userCount" resultType="integer">
        select count(*) from user
    </select>

    <delete id="delete" parameterType="user">
        delete from user where id=#{id}
    </delete>
</mapper>